body {
    text-align: center;
}

#timer {
    width: center;
    height: 50px;
    margin: 100px 50px;
    text-align: center;
    padding-top: 20px;
    color: darkcyan;
    font-size: 25px;
    /* background-color: aqua; */
}

p {
    color: red;
    height: 20px;
}